<%= render 'components/search_bar' %>
<div id="content-wrapper">
    <div class="content-shadow">
        <div id="content-container">
            <h1>Tent#edit</h1>
            <p>Find me in app/views/tent/edit.html.erb</p>
        </div>
    </div>
</div>