<%= render 'components/default_header' %>
<%= render '/components/navbar' %>
<div id="content-wrapper">
    <div id="content-container">
        <h1>Pages#home</h1>
        <p>Find me in app/views/pages/home.html.erb</p>
    </div>
</div>
