<header class="header">
    <div class="header-box text-center">
        <h1>Live your Life. Enjoy the nature.</h1>
        <i id='header-down' class="fas fa-chevron-down"></i>
    </div>
    <%= render partial:'components/search_bar', locals: { is_in_header: true } %>
</header>
