<% is_above ||= false %>
<footer class="footer<%= ' above' unless !is_above %>">

  <div class="footer-links">
    <a href="https://www.instagram.com/tentrent_madrid/"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/tentrent_madrid/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.instagram.com/tentrent_madrid/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/tentrent_madrid/"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/tentrent_madrid/"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at RentaTent
  </div>

</footer>
