<div class="navbar-lewagon">

<!-- Link to create a new Event/Tent -->
  <%= link_to 'Home', tents_path, class:"btn btn-primary"%>
  <%= link_to 'Login', new_tent_path, class:"btn btn-primary"%>
</div>
