// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0E0E;
$light-gray: #F4F4F4;
$footer-grey: #e6e6e6;


// colors to be used by the nav/search bar
// navbar has two modes: dark mode, light mode
// accordingly, possesses two distinct (inverted) color sets
// these are defined here, and made more conveniently accessible
// by a helper function defined in '_functions'