$footer-height: 20vh;
$header-height: 60vh;
$navbar-height: 50px;

$content-container-width: 87%;
$content-container-horizontal-padding: 20px;
$content-container-vertical-padding: 20px;

$smartphone-width: 600px;