$footer-height: 20vh;
$header-height: 60vh;
$navbar-height: 80px;

$content-container-width: 87%;
$content-container-horizontal-padding: 20px;
$content-container-vertical-padding: 20px;

$smartphone-width: 600px;

$footer-high-z-index: 3;
$footer-low-z-index: -1;

$background-blur-amount: 8px;