.cards,
.grid-content {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 16px;
  width: 100%;



  // Large devices (desktops, 992px and up)
  @media (min-width: $smartphone-width) {
    grid-template-columns: minmax(0, 1fr);
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  // big devices (tablets, 768px and up)
  @media (min-width: 992px) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  }
}

.grid-content {
  background-color: rgba($light-gray, $index-content-background-opacity);
  padding: 0.6rem 1rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.4);
}


.content-box {
  background-color: rgba($light-gray, $index-content-background-opacity);
  padding: 0.6rem 1rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.4);
}

/*

Break points were blowing out the grid at certain sizes
Reimplement with time

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {

  .cards,
  .grid-content {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  .cards,
  .grid-content {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .cards,
  .grid-content {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .cards,
  .grid-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .cards,
  .grid-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}*/