.card-trip {
  overflow: hidden;
  background: white;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.card-trip>img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.payment-avatar {
  display: block;
  background-color: $blue;
  border-radius: 20%;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 5px;
  width: 40px;

  transition: all 0.3s ease-in-out;

}

.card-link {
  text-decoration: none;
  color: $blue;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    .card-trip {
      background-color: $blue;
      color: white;
    }

    box-shadow: 0 0 30px rgba(darken($blue, 20%), 0.4);

    .payment-avatar {
      background-color: white;
      color: $blue;
      width: 50px;
    }

  }
}

.cards-content {
  margin-top: 50px;
}