#content-wrapper {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-bottom: $footer-height;
  padding-top: $navbar-height;

  &.header-present {
    padding-top: 0;
  }

  #content-container {
    width: $content-container-width;
    margin: 0 auto;
    padding: $content-container-vertical-padding $content-container-horizontal-padding;
    flex-grow: 1;
    padding-bottom: 50px;

  }

  .content-shadow {
    box-shadow: 0 0 2.25rem rgba(0, 0, 0, 0.4);
    z-index: $footer-high-z-index + 1;
  }
}