header {
  width: 100%;
  height: $header-height;
  background-image: url("https://cdn.pixabay.com/photo/2015/03/26/10/29/camping-691424_1280.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: white;
  filter: drop-shadow(0 0 0.75rem black);

}

//https://cdn.pixabay.com/photo/2016/02/16/13/06/auroras-1203289_1280.jpg
//https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
