header {
    width: 100%;
    height: $header-height;

    flex-grow: 0;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;

    #header-down {
        padding-bottom: $navbar-height + 6px;
    }

}

header:before {

    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0%;
    z-index: -2;
    width: 100%;
    height: $header-height;
    //background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-image: $header-background-url;
    filter: blur(4px);

}

header:after {

    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0%;
    z-index: -1;
    width: 100%;
    height: $header-height;
    //background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-image: $header-background-url;
    z-index: -1;
    transition: opacity 0.4s ease-in-out;


}

header:hover:after {
    opacity: 0;
}

header h1 {

    color: white;
    filter: drop-shadow(0 0 0.75rem black);

}

//https://cdn.pixabay.com/photo/2016/02/16/13/06/auroras-1203289_1280.jpg
//https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260