#page-container {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    //top: $navbar-height; displays a small space on the top for the navbar
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    flex-wrap: nowrap;

    // z-index: $footer-low-z-index - 2;
}

body {
    overflow-x: hidden;
    margin: 0;
}