.search-bar {

    -webkit-transition: background-color $searchbar-color-transition-time $searchbar-color-transition-ease-type;
    -o-transition: background-color $searchbar-color-transition-time $searchbar-color-transition-ease-type;
    -moz-transition: background-color $searchbar-color-transition-time $searchbar-color-transition-ease-type;

    transition: background-color $searchbar-color-transition-time $searchbar-color-transition-ease-type;
    transition: color $searchbar-color-transition-time $searchbar-color-transition-ease-type;
    transition: border-color $searchbar-color-transition-time $searchbar-color-transition-ease-type;
    transition: filter $searchbar-color-transition-time $searchbar-color-transition-ease-type;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-color: $searchbar-dark-background-color;

    overflow: hidden;
    border: 1px $searchbar-dark-border-color;

    color: $searchbar-dark-color;

    position: absolute;
    bottom: 0;
    padding: 0 30px;

    box-shadow: 0 0 2.25rem rgba(0, 0, 0, 0.8);

    &.is-detached {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100vw;
        // -webkit-transform: translate3d(0, 0, 0);
        // transform: translate3d(0, 0, 0);
    }

    >span {
        flex-grow: 1;
    }

    form {
        display: inline-block;
        height: 50px;
        width: 80%;
        background-color: none;
        border: none;

        input {
            background-color: rgba(0, 0, 0, 0);
            border: none;
            width: 100%;
            height: 100%;
            color: $searchbar-dark-color;

            transition: filter $searchbar-color-transition-time ease-in-out;
            transition: -webkit-filter $searchbar-color-transition-time ease-in-out;
            transition: color $searchbar-color-transition-time $searchbar-color-transition-ease-type;

            filter: none;
            outline: none;

            &:hover {
                color: $searchbar-dark-focus-color;
                border: none;
                // font-weight: bold;
                filter: drop-shadow(0 0 0.4rem $searchbar-dark-shadow-color);

            }
        }
    }

    .search-bar-icon {
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50px;
        padding: 0 1rem;
        background-color: none;

        transition: filter $searchbar-color-transition-time ease-in-out;
        transition: -webkit-filter $searchbar-color-transition-time ease-in-out;
        transition: color $searchbar-color-transition-time ease-in-out;

        filter: none;

        &.is-hovered {
            color: $searchbar-dark-focus-color;
            filter: drop-shadow(0 0 0.4rem $searchbar-dark-shadow-color);
        }
    }

    .search-bar-buttons {
        display: flex;
        justify-content: flex-end;

        .btn {
            margin-right: 0.4rem;
        }
    }
}

.search-bar.is-light {

    // can only get one-way background-color transition to work; 
    // might be a glitch? 
    // all other transitions work two-way
    transition: background-color $searchbar-color-transition-time $searchbar-color-transition-ease-type;

    background-color: $searchbar-light-background-color;
    color: $searchbar-light-color;

    form {

        input {
            color: $searchbar-light-color;

            &:hover {
                color: $searchbar-light-focus-color;
                filter: drop-shadow(0 0 0.4rem $searchbar-light-shadow-color);
            }
        }
    }

    .search-bar-icon {

        &.is-hovered {
            color: $searchbar-light-focus-color;
            filter: drop-shadow(0 0 0.4rem $searchbar-light-shadow-color);
        }
    }
}