.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-color: $searchbar-dark-background-color;

    overflow: hidden;
    border: 1px $searchbar-dark-border-color;

    color: $searchbar-dark-color;

    position: absolute;
    bottom: 0;
    padding: 0 30px;

    >span {
        flex-grow: 1;
    }

    form {
        display: inline-block;
        height: 50px;
        width: 80%;
        background-color: none;
        border: none;

        input {
            background-color: none;
            border: none;
            width: 100%;
            height: 100%;
            color: $searchbar-dark-color;

            transition: filter 0.3s ease-in-out;
            transition: -webkit-filter 0.3s ease-in-out;

            filter: none;

            &:focus {
                color: $searchbar-dark-focus-color;
                border: none;
                // font-weight: bold;
                filter: drop-shadow(0 0 0.4rem $searchbar-dark-shadow-color);
                outline: none;
            }
        }
    }

    .search-bar-icon {
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50px;
        padding: 0 1rem;
        background-color: none;

        transition: filter 0.3s ease-in-out;
        transition: -webkit-filter 0.3s ease-in-out;

        filter: none;

        &.is-focused {
            color: $searchbar-dark-focus-color;
            filter: drop-shadow(0 0 0.4rem $searchbar-dark-shadow-color);
        }
    }
}

.search-bar.is-light {

    background-color: $searchbar-light-background-color;
    color: $searchbar-light-color;

    form {

        input {
            color: $searchbar-light-color;

            &:focus {
                color: $searchbar-light-focus-color;
                filter: drop-shadow(0 0 0.4rem $searchbar-light-shadow-color);
            }
        }
    }

    .search-bar-icon {

        &.is-focused {
            color: $searchbar-light-focus-color;
            filter: drop-shadow(0 0 0.4rem $searchbar-light-shadow-color);
        }
    }
}